:host {
  &.showing-currency-field {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: min-content auto;
  }

  &.inside-mat-form-field {
    select {
      background: none;
      border: none;
      font-family: inherit;
      font-size: 1em;
    }

    input {
      border: none;
      background: none;
      padding: 0;
      outline: none;
      font: inherit;
      text-align: left;
      width: 100%;
      max-width: 100%;
    }
  }

  &.vanilla {
  }

  &.label-not-floating {
    select, input {
      opacity: 0;
    }
  }
}
