<ng-container *ngIf=" showCurrencySelect|async ">
  <select
    #currencySelectEl
    (focus)="wasTouched()"
    [class.selected-invalid-currency]=" invalidCurrency|async "
    [formControl]="currencyControl"
    class="currency-field"
  >
    <option disabled selected value="">---</option>

    <!-- We show the invalid currency as a choice, so the user know -->
    <ng-container *ngIf=" invalidCurrency|async as invalidCurrency ">
      <ng-container *ngIf=" invalidCurrency ">
        <option
          [value]=" invalidCurrency.code "
          class="option-invalid-currency"
          disabled
        >
          {{ invalidCurrency.code }}
        </option>
      </ng-container>
    </ng-container>

    <option
      *ngFor="let currency of currencyTuples|async"
      [value]="currency.code"
    >
      {{ currency.code }}
    </option>
  </select>
</ng-container>

<input
  #amountInputEl
  (focus)="wasTouched()"
  [cleave]=" cleaveOptions|async "
  [formControl]="amountControl"
  [placeholder]="placeholder"
  autocomplete="off"
  class="amount-field"
/>
